<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="container about">
<h2>Privacy Policy</h2>

<p>
<ul>
<li>We pledge to meet internationally-recognized standards of personal data privacy protection, in complying with the requirements of the Personal Data (Privacy) Ordinance. In doing so, we will ensure that our staff comply with the strictest standards of security and confidentiality.</li>
<li>Users have the right to request access to and correction of their personal information held by the Hong Kong University of Science and Technology.</li>
</ul>
</p>

<p><a id="honor" name="honor"></a></p>
<h2>Honor Code Pledge</h2>
<p>For the details of the Honor Code Pledge, please refer to <a href="/honor">here</a>.</p>

</section>
